@font-face {
  font-family: lightcase;
  src: url(http://tec.tectignis.in/assets/fonts/lightcase.eot?55356177);
  src: url(http://tec.tectignis.in/assets/fonts/lightcase.eot?55356177#iefix) format("embedded-opentype"), url(http://tec.tectignis.in/assets/fonts/lightcase.woff?55356177) format("woff"), url(http://tec.tectignis.in/assets/fonts/lightcase.ttf?55356177) format("truetype"), url(http://tec.tectignis.in/assets/fonts/lightcase.svg?55356177#lightcase) format("svg");
  font-weight: 400;
  font-style: normal
}

[class*=lightcase-icon-]:before {
  font-family: lightcase, sans-serif;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em
}

.lightcase-icon-close:before {
  content: '\e802'
}

@-webkit-keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

@-moz-keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

@-o-keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

@-ms-keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

@keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

@media screen and (min-width:641px) {
  html:not([data-lc-type=error]) #lightcase-content {
    position: relative;
    z-index: 1;
    text-shadow: none;
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    -webkit-backface-visibility: hidden
  }
}

@media screen and (min-width:641px) {

  html[data-lc-type=image] #lightcase-content,
  html[data-lc-type=video] #lightcase-content {
    background-color: #333
  }
}

html[data-lc-type=ajax] #lightcase-content,
html[data-lc-type=error] #lightcase-content,
html[data-lc-type=inline] #lightcase-content {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none
}

@media screen and (max-width:640px) {

  html[data-lc-type=ajax] #lightcase-content,
  html[data-lc-type=error] #lightcase-content,
  html[data-lc-type=inline] #lightcase-content {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: 0 0 !important
  }
}

@media screen and (max-width:640px) {

  #lightcase-content h1,
  #lightcase-content h2,
  #lightcase-content h3,
  #lightcase-content h4,
  #lightcase-content h5,
  #lightcase-content h6,
  #lightcase-content p {
    color: #aaa
  }
}

@media screen and (min-width:641px) {

  #lightcase-content h1,
  #lightcase-content h2,
  #lightcase-content h3,
  #lightcase-content h4,
  #lightcase-content h5,
  #lightcase-content h6,
  #lightcase-content p {
    color: #333
  }
}

.lightcase-open body {
  overflow: hidden
}

#lightcase-info {
  position: absolute;
  padding-top: 15px
}

#lightcase-info #lightcase-caption,
#lightcase-info #lightcase-title {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  text-overflow: ellipsis
}

#lightcase-info #lightcase-title {
  font-size: 17px;
  color: #aaa
}

@media screen and (max-width:640px) {
  #lightcase-info #lightcase-title {
    position: fixed;
    top: 10px;
    left: 0;
    max-width: 87.5%;
    padding: 5px 15px;
    background: #333
  }
}

#lightcase-info #lightcase-caption {
  clear: both;
  font-size: 13px;
  color: #aaa
}

@media screen and (max-width:640px) {
  html:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-info {
    position: static
  }
}

a[class*=lightcase-icon-] {
  position: fixed;
  z-index: 9999;
  width: 1.123em;
  height: auto;
  font-size: 38px;
  line-height: 1;
  text-align: center;
  text-shadow: none;
  outline: 0;
  cursor: pointer
}

a[class*=lightcase-icon-],
a[class*=lightcase-icon-]:focus {
  text-decoration: none;
  color: rgba(255, 255, 255, .6);
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: color, opacity, ease-in-out .25s;
  -moz-transition: color, opacity, ease-in-out .25s;
  -o-transition: color, opacity, ease-in-out .25s;
  transition: color, opacity, ease-in-out .25s
}

a[class*=lightcase-icon-]>span {
  display: inline-block;
  text-indent: -9999px
}

a[class*=lightcase-icon-]:hover {
  color: #fff;
  text-shadow: 0 0 15px #fff
}

a[class*=lightcase-icon-].lightcase-icon-close {
  position: fixed;
  top: 15px;
  right: 15px;
  bottom: auto;
  margin: 0;
  opacity: 0;
  outline: 0
}

@media screen and (max-width:640px) {
  a[class*=lightcase-icon-] {
    bottom: 15px;
    font-size: 24px
  }
}

@media screen and (min-width:641px) {
  a[class*=lightcase-icon-] {
    bottom: 50%;
    margin-bottom: -.5em
  }

  a[class*=lightcase-icon-]:hover {
    opacity: 1
  }
}

#lightcase-overlay {
  display: none;
  width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: 2000;
  top: -9999px;
  bottom: -9999px;
  left: 0;
  background: #333
}

@media screen and (max-width:640px) {
  #lightcase-overlay {
    opacity: 1 !important
  }
}