html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}



hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}





a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}







b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}




img {
  border-style: none;
}



svg:not(:root) {
  overflow: hidden;
}


button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}



button,
input { /* 1 */
  overflow: visible;
}



button,
select { /* 1 */
  text-transform: none;
}



button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}




[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}





.pt-30{padding-top:30px;}
.pt-70{padding-top:70px;}
.pt-150{padding-top:150px;}


.pb-20{padding-bottom:20px;}
.pb-30{padding-bottom:30px;}
.pb-70{padding-bottom:70px;}
.pb-200{padding-bottom:200px;}

.mt-5{margin-top:5px;}
.mb-5{margin-bottom:5px;}
.mb-30{margin-bottom:30px;}
.mb-40{margin-bottom:40px;}
