@import url(http://fonts.googleapis.com/css?family=Raleway);

#abc {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  background-color: transparent;
  overflow: auto
}

#close {
  position: absolute;
  cursor: pointer;
  margin-left: 94%;
  float: right;
  margin-right: 30px;
  border-radius: 50%;
  font-size: x-large;
  background: #9400d3;
  color: #fff
}

div#popupContact {
  position: absolute;
  left: 45%;
  top: 17%;
  margin-left: -202px;
  font-family: Raleway, sans-serif
}

#form {
  max-width: 600px;
  min-width: 250px;
  padding: 10px 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, .35) 0 5px 15px;
  font-family: raleway;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, .35) 0 5px 15px
}

.h2 {
  padding: 20px 35px;
  margin: -10px -50px;
  text-align: center;
  border-radius: 10px 10px 0 0
}

hr {
  margin: 10px -50px;
  border: 0;
  border-top: 1px solid #ccc
}

.text {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding-left: 40px;
  font-size: 16px;
  font-family: raleway
}

#sel {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding-left: 40px;
  font-size: 16px;
  font-family: raleway
}

#name {
  background-image: url(http://tec.tectignis.in/assets/css/image/user.webp);
  background-repeat: no-repeat;
  background-position: 5px 7px
}

#email {
  background-image: url(http://tec.tectignis.in/assets/images/email.png);
  background-repeat: no-repeat;
  background-position: 5px 7px
}

.textarea {
  background-image: url(http://tec.tectignis.in/assets/images/msg.png);
  background-repeat: no-repeat;
  background-position: 5px 7px;
  width: 100%;
  height: 95px;
  padding: 10px;
  resize: none;
  margin-top: 30px;
  border: 1px solid #ccc;
  padding-left: 40px;
  font-size: 16px;
  font-family: raleway;
  margin-bottom: 20px
}

#submit {
  text-decoration: none;
  width: 100%;
  text-align: center;
  display: block;
  background-image: linear-gradient(310deg, #7928ca, #f9004d);
  color: #fff;
  border: 1px solid #79095e;
  padding: 10px 0;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px
}

span {
  color: #fff;
  font-weight: 700
}

.butn {
  width: 10%;
  height: 45px;
  border-radius: 3px;
  background-image: linear-gradient(310deg, #7928ca, #f9004d);
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  cursor: pointer
}

.Click-here {
  cursor: pointer;
  background-image: linear-gradient(190deg, #f83600 0, #fee140 100%);
  color: #fff;
  width: 180px;
  text-align: center;
  font-size: 16px;
  padding: 18px 0;
  margin: 0 auto;
  transition: background-image 3s ease-in-out
}

.Click-here:hover {
  transition: background-image 3s ease-in-out;
  background-image: linear-gradient(90deg, #fee140 0, #f83600 100%)
}

.custom-model-main {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  -webkit-transition: opacity .15s linear, z-index .15;
  -o-transition: opacity .15s linear, z-index .15;
  transition: opacity .15s linear, z-index .15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden
}

.model-open .bg-overlay {
  background: rgba(0, 0, 0, .6);
  z-index: 99
}

.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background .15s linear;
  -o-transition: background .15s linear;
  transition: background .15s linear
}

.close-btn {
  position: absolute;
  right: 0;
  top: -30px;
  cursor: pointer;
  z-index: 99;
  font-size: 30px;
  color: #fff
}

@media screen and (min-width:800px) {
  .custom-model-main:before {
    content: "";
    display: inline-block;
    height: auto;
    vertical-align: middle;
    margin-right: 0;
    height: 100%
  }
}

.form-popup-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center
}

.form-popup-bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, .9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  overflow-y: auto;
  z-index: 10000
}

.form-container {
  background-color: #2d3638;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 40px;
  color: #fff
}

.close-button {
  background: 0 0;
  color: #fff;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  border: solid 1px #fff
}

.form-popup-bg:before {
  content: '';
  background-color: #fff;
  opacity: .25;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}